{% extends "layout.html" %}
{% from "components/card/template.html" import Card -%}

{% block article_body %}

<p>{{ intro | md }}</p>

{# repeating card section starts #}
{% for card in cards %}
  {% set loopcounter = loop %}
  <h1 class="card-position__position">{{ card.industryDisplayName }}</h1>
  {% for item in card.items %}
  {% set index = loopcounter.index + '' + loop.index %}
  {{ Card(item, index) }}
  {% endfor %}
{% endfor %}
{# repeating card section ends #}

<p><i>Developed by <a href="https://www.ft.com/stream/authorsId/ZGVhNjk2NmEtN2ZkNy00NDllLTkyODAtYjE2NWNmNjg0NTcx-QXV0aG9ycw==">Claire Manibog</a>, <a href="https://www.ft.com/stream/authorsId/NWRlMDQ0Y2MtODA3Mi00N2VlLWEyZGItNWRmYTZhNDNiNWNi-QXV0aG9ycw==">Joanna S Kao</a> and <a href="https://www.ft.com/stream/authorsId/YWVmZWY3ZmUtMWI4ZS00NjVlLWI2OGItNzU4NjYzY2NlMDRj-QXV0aG9ycw==">Lauren Leatherby</a></i></p>

{% endblock %}
